<section class="call">
  
  <div class="call__content">

    <div class="call__logoWrapper">
      {%- include logo.html -%}
    </div>
  
    <h2>
      Gostaria de conhecer mais sobre o Prodmais? 
    </h2>

    <p>
      Entre em contato conosco! <br />
    </p>
    <h3><a href="mailto:email-sti@unifesp.br">sti@unifesp.br</a></h3>

    <div class="call__btns">
      <button class="mybtn call__btn"><a target="blank" href="https://unifesp.br/prodmais/">Visite o Portal</a></button>
      <button class="mybtn call__btn"><a target="blank" href="mailto:sti@unifep.br">Agende uma demonstração</a></button>

    </div>


  </div>

</section>
