<footer class="myfooter">
    
  <div class="myfooter__contact"> 
    <a 
      class="myfooter__link" 
      target="_blank"
      href="https://atendimento.unifesp.br/">
      Fale conosco</a> <span class="myfooter__det">|</span>
    <a 
      class="myfooter__link" 
      target="_blank"
      href="https://atendimento.unifesp.br/">
      Política de privacidade</a> <span class="myfooter__det">|</span>
    <a 
      class="myfooter__link" 
      target="_blank"
      href="https://forms.gle/2QRcqg2YfxMvEqVX9">
      Relate erros</a>
  </div>

  <div class="myfooter__line"></div>

  <div class="myfooter__logos">
    <img class="myfooter__logo" src="/assets/img/logos/sti-branco.svg" alt="STI">
    <img class="myfooter__logo" src="/assets/img/logos/unifesp-branco.svg" alt="Unifesp">
  </div>
  
</footer>