<section class="hero">

  <div class="hero__content">

    <!-- {%- include header.html -%} -->
    
    <div class="hero__logoWrapper">
      {%- include logo.html -%}
    </div>
    
    <div class="hero__text">
      <h2  class="hero__title">Uma ferramenta de busca da produção científica de pesquisadores da UNIFESP</h2>
      <span class="hero__subtitle">Desenvolvida pela Universidade Federal de São Paulo</span>
    </div>
  
    <!-- <span class="logoUnifesp">UNIFESP</span> -->

  </div> <!-- hero__content -->

</section>
